$corDeFundo: #040714;
$corDeFundoSecundaria:#d1d8e0;
$corDeFundoHeader: #778ca3;
$corTextoPrincipal: #a5b1c2;
$corTextoSecundaria: #d1d8e0;
$corDeFundoBotaoPrimario: #4b6584;
$corDeFundoBotaoSecundario: #8854d0;
$corDeFundoBotaoDark: #000;